.wrapper
  = render 'shared/header'
.content
  .content__sign
    .form
      %h1 Sign up
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        = f.text_field :nickname, autofocus: true, maxlength: "6", :placeholder => "Nickname"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email"
        %br/
        = f.password_field :password, autocomplete: "new-password", :placeholder => "Password (6 characters minimum)"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "Password Confirmation"
        %br/
        = f.submit "Sign up", class: 'button'

