.wrapper
  = render 'shared/header'
.contents
  = @nickname
  さんの投稿一覧
  - @posts.each do |post|
    .content_post
    = image_tag post.image.url
    = post.text
    = post.user.nickname
    = link_to "詳細", "/posts/#{post.id}"
