.wrapper
  = render 'shared/header'
.content
  .user
    = @nickname
    さんの投稿一覧
    %ul.photo-list
      - @posts.each do |post|
        %li
          = link_to "/posts/#{post.id}" do
            = image_tag post.image.url, class: 'photo-list-img'
            -# = post.text
            -# = post.user.nickname
            -# = link_to "詳細", "/posts/#{post.id}"
