.header
  .top
    .grid-6
      = link_to "Carme", root_path, class: 'toplink'
    - if user_signed_in?
      .user_nav
        .user_name
          %span
            = current_user.nickname
        %ul.user__info
          %li
            = link_to "Like", users_path, class: 'page'
            = link_to "Mypage", "/users/#{current_user.id}", class: 'page'
            = link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'page'
            = link_to "Post", "/posts/new", class: 'page' 
    - else
      .user_nav
        %ul.user__info
          %li
            = link_to "Sign In", new_user_session_path, class: 'page'
            = link_to "Sign Up", new_user_registration_path, class: 'page'