.wrapper
  = render 'shared/header'
.content
  .content__contents
    - @posts.each do |post|
      .content__contents__post
        .content__contents__post__header
          .content__contents__post__header__name
            %span= post.user.nickname
          .content__contents__post__header__show
            = link_to "詳細", "/posts/#{post.id}", class: 'content__contents__post__header__show__id'
        = link_to "/posts/#{post.id}" do
          = image_tag post.image.url, class: 'content__contents__post__image'
        .content__contents__post__like
          %i.far.fa-heart
          = post.likes_count
          件
          %i.fas.fa-comment
          = post.comments.count
        .content__contents__post__text
          = simple_format(post.text)
  = paginate(@posts)


